<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8" />
        <title>Hello</title>
    </head>
    <body>
        <h1>Hello world!</h1>
        <div th:if="${#httpServletRequest.remoteUser != null}">
            <p th:text="${#httpServletRequest.remoteUser}">sample_user</p>
        </div>  
        <p sec:authentication="name">Sample</p>
        <p sec:authentication="principal.companyName">Sample</p>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log out" />
        </form>		

        <p th:utext="${thymeleaf}">サンプルテキスト</p>
    </body>
</html>
